<div class= "container-fluid">

  <nav class="navbar navbar-default">
    <div class='container-fluid'>

      <a href='/' class='navbar-brand'>Dashboard</a>
      <ul class='nav navbar-nav navbar-right'>
        <li><a href="/robots">All Robots</a></li>
        <li><a href="/robots/new">New Robot</a></li>
      </ul>
  </div>
</nav>


  <div class="jumbotron">
      <div class="container-fluid">
        <h1> Robot World Dashboard</h1>
        
        <h3> Average Robot Age: <%= average_age %></h3>
        <h3> Robots per City:
          <% robots_per_city.each do |city, num| %>
              <h4><%= city %>: <%= num %></h4>
        </h3>
      <% end %>

      <h3> Robots per State:
        <% robots_per_state.each do |state, num| %>
            <h4><%= state %>: <%= num %></h4>
      </h3>
    <% end %>

    <h3> Robots per Department:
      <% robots_per_department.each do |department, num| %>
          <h4><%= department %>: <%= num %></h4>
    </h3>
  <% end %>

    </div>
  </div>
</div>
