
<!-- <section class='hero container'>
  <h2> Dashboard </h2>
</section> -->

<section class='row-alt'>
  <div class="lead container">
    <h1> Dashboard</h1>
    <p> The best in data-driven robotics</p>
  </div>
</section>

<section class="row">
  <div class="grid">

    <div class='col-2-3'>
        <h3> Average Robot Age: <h3>
        <ul class="robot-stat">
        <li><%= @robot_statistics.average_age %></li>
        </ul>

        <h3> Robots per City: </h3>
        <ul class="robot-stat">
          <% @robot_statistics.robots_per_city.each do |city, num| %>
              <li><%= city %>: <%= num %></li>
              <% end %>
        </ul>

        <h3> Robots Per State: </h3>
          <ul class="robot-stat">
          <% @robot_statistics.robots_per_state.each do |state, num| %>
            <li><%= state %>: <%= num %></li>
        <% end %>
        </ul>
      </div><!--

    --><div class='col-2-3'>
        <h3> Robots Per Department: </h3>
          <ul class="robot-stat">
          <% @robot_statistics.robots_per_department.each do |department, num| %>
          <li><%= department %>: <%= num %></li>
          <% end %>
        </ul>

          <h3> Robots Hired By Year: </h3>
            <ul class="robot-stat">
            <% @robot_statistics.robots_hired_per_year.each do |year, count| %>
                <li><%= year %>: <%= count %></li>
            <% end %>
          </ul>
        </div>

  </div>
  </section>
