
<section class='row'>
  <div class="grid">
    <div class='col-1-3'>
        <h3>Edit <%= @robot.name %></h3>

  <form class="robot-form" action="/robots/ <%= @robot.id %>" method="post">
      <fieldset class="robot-group">

        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="robot[name]" value="<%= @robot.name %>" placeholder="Name">
        <input type="text" name="robot[city]" value="<%= @robot.city %>" placeholder="City">
        <input type="text" name="robot[state]" value="<%= @robot.state %>" placeholder="State">
        <input type="text" name="robot[birthdate]" value="<%= @robot.birthdate %>" placeholder="birthdate">
        <input type="text" name="robot[date_hired]" value="<%= @robot.date_hired %>" placeholder="Date Hired">
        <input type="text" name="robot[department]" value="<%= @robot.department %>" placeholder="Department">

      </fieldset>

      <input class="btn btn-default" type='submit' value="Submit"/>

  </form>

      </div>

    <div class="col-1-3">
      <img class ="thumbnail" src="https://robohash.org/<%= @robot.id %>" >
    </div>

    </div>
  </section>
