
<section class="hero container">
    <h2>All The Robots!</h2>
</section>


<section class="row">
  <div class = "grid">
    <% @robots.each do |robot| %><section class='robot-listing col-1-3'>
          <img class ="thumbnail" src="https://robohash.org/<%= robot.id %>">

          <h3><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>

          <a href="/robots/<%= robot.id %>/edit"><button type='button' class='btn btn-alt'>Edit</button></a>

          <form action="/robots/<%= robot.id %>" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input class="btn btn-alt" type="submit" value="Delete">
          </form>

        </section><% end %><!--remove white space comment to remove white space -->

      </div>
</section>
